* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background-color: white !important;
  min-height: 100%;
}

.App {
/*  text-align: center;*/
  height: 100%;
}

#food-search {
  margin-top: 5em;
}

.barInner {
  text-align: left !important;
  margin-bottom: 20px !important;
  width:95%;
  background-color: rgb(245,245,245);
  padding: 10px !important;
  display: inline-block !important;
  border-bottom: 3px solid #f26d6a;
  margin-left: 60px !important;
}

.bar {
  width: 100%;
}

.barInner h2 {
  display: inline-block !important;
  margin-bottom: 0 !important;
}

.barInner .search {
  float:right;
}

.buttons {
  text-align: center;
}

.FooterContainer{
    text-align: center;
    padding: 10px;
    background-color: #eee;
    border-top: 2px solid #f26d6a;
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.FooterContainer, .wrapper:after {
  height: 50px; 
}