.Drinks > ul {
    list-style: none;
    margin: 0;
    padding:0;
    margin-left: 40px;
}

.btn-size {
    height: 10vh;
    color: #000 !important;
    font-size: 20pt !important;
    margin-bottom: 10px !important;
}

.btn-selected {
    background-color: #f26d6a !important;
}

.drinkImage{  
  transition: all .2s ease-in-out;
}

.drinkImage:hover{  
  transform: scale(1.35);
}
